@model MvcKutuphane.Models.Entity.tblpersonel
@{
    ViewBag.Title = "PersonelEkle";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>Personel Ekle</h2>

<form class="form-group" method="post">

    <div>
        <label>Personel Adı</label>
        <input type="text" class="form-control" name="personel" />
    </div>

    <div style="margin-top:15px">
        <button class="btn btn-success">Personel Ekle</button>
    </div>


</form>